.table-responsive
  table.table.table-condensed
    thead
      tr
        td myCommercialCode
        td myBrand
        td myCategory
    tbody
      tr bindonce='' ng-repeat="model in myCollection"
        td bo-text="model.commercial_code"
        td bo-text="model.brand.name"
        td bo-text="model.category.fullname"