<div class="row">
  <div class="col-lg-6">
    Models with UI-Grid
    <p ui-grid="gridOptions"></p>
  </div>
  <div class="col-lg-6">
    <p>
      Models with Bindonce - only  1 watcher to the entire loop
    </p>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <td>
              Commercial Code
            </td>
            <td>
              Brand
            </td>
            <td>
              Category
            </td>
          </tr>
        </thead>
        <tbody>
          <tr bindonce="" ng-repeat="model in models">
            <td bo-text="model.commercial_code"></td>
            <td bo-text="model.brand.name"></td>
            <td bo-text="model.category.fullname"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <p>
      Models with Bindonce as Directive
    </p>
    <div class="my-table-models-list" my-collection="models"></div>
  </div>
  <div class="col-lg-6">
    <p>
      Models with React Factory
    </p>
    <my-react-models-list collection="models" ng-if="models"></my-react-models-list>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <p>
      Models with React Component
    </p>
    <react-component name="MyReactModelsList2" ng-if="models" props="collection"></react-component>
  </div>
</div>
